# 01 — Data Cleaning

**Purpose:** Produce a clean, analysis-ready CSV from the raw sales records.

This is the first step in analyzing BMW's 15-year transformation story. Clean data is essential for uncovering the insights about BMW's electric vehicle transition, brand loyalty, and market opportunities.

**What this notebook does:**
- Loads raw CSV(s) from `data/raw/`
- Handles missing values and duplicates
- Normalizes column names and types
- Exports cleaned CSV to `data/processed/BMW_Worldwide_Sales_Cleaned.csv`

**Run instructions:** Execute cells in order; no external inputs required beyond placing raw CSV(s) in `data/raw/`.

**Next steps:** After cleaning, proceed to `02_eda.ipynb` for exploratory analysis, or jump directly to `portfolio_summary.ipynb` for the complete story-driven analysis.

In [1]:
# Import necessary libraries
# pandas: primary library for data manipulation and analysis
import pandas as pd
import os  # For file path operations

# Define file paths
# Using relative paths - these assume the notebook is in the notebooks/ folder
RAW_DATA_PATH = "../data/raw/BMW_Worldwide_Sales_Records_2010_2024.csv"
PROCESSED_PATH = "../data/processed/BMW_Worldwide_Sales_Cleaned.csv"

In [2]:
# Load the raw CSV file into a pandas DataFrame
# A DataFrame is like a spreadsheet in Python - rows and columns of data
df = pd.read_csv(RAW_DATA_PATH)

# Display basic information about the dataset
# .shape returns (number of rows, number of columns)
print("Shape:", df.shape)
print(f"Total rows: {df.shape[0]:,}")
print(f"Total columns: {df.shape[1]}")

# Display the first 5 rows to see what the data looks like
df.head()

Shape: (50000, 11)
Total rows: 50,000
Total columns: 11

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [3]:
# Basic info
print("Data info:")
print(df.info())

# Check column names
print("\nColumns:")
print(df.columns.tolist())

# Quick overview of numeric stats
df.describe()

Data info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB
None

Columns:
['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission', 'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume', 'Sales_Classification']

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [4]:
# Check for missing values in the dataset
# Missing values can cause errors in analysis, so we need to identify them

# .isna() returns True for missing values, False otherwise
# .sum() counts how many True values (missing values) in each column
missing = df.isna().sum().sort_values(ascending=False)

# Calculate percentage of missing values
missing_percent = (missing / len(df)) * 100

# Create a summary table
print("Missing values per column:")
missing_summary = pd.DataFrame({
    "Missing_Count": missing, 
    "Missing_Percent": missing_percent.round(2)
})
print(missing_summary)

Missing values per column:
                      Missing_Count  Missing_Percent
Model                             0              0.0
Year                              0              0.0
Region                            0              0.0
Color                             0              0.0
Fuel_Type                         0              0.0
Transmission                      0              0.0
Engine_Size_L                     0              0.0
Mileage_KM                        0              0.0
Price_USD                         0              0.0
Sales_Volume                      0              0.0
Sales_Classification              0              0.0

In [5]:
# Check for duplicate rows
# Duplicate rows can skew our analysis, so we should remove them

# .duplicated() returns True for duplicate rows
# .sum() counts how many duplicates we have
duplicates = df.duplicated().sum()
print("Duplicate rows found:", duplicates)

# If duplicates exist, remove them
if duplicates > 0:
    df = df.drop_duplicates()  # Remove duplicate rows
    print("Removed duplicates. New shape:", df.shape)
else:
    print("No duplicates found - data is clean!")

Duplicate rows found: 0
No duplicates found - data is clean!

In [6]:
# Handle missing values by filling them with appropriate values
# Strategy: 
#   - Numeric columns: fill with median (middle value) - less affected by outliers
#   - Text columns: fill with mode (most common value)

# Identify numeric columns (numbers) and object columns (text)
num_cols = df.select_dtypes(include=['number']).columns
obj_cols = df.select_dtypes(include=['object']).columns

# Fill missing values in numeric columns with median
# Median is better than mean because it's not affected by extreme values
for col in num_cols:
    median_val = df[col].median()  # Calculate median for this column
    df[col].fillna(median_val, inplace=True)  # Fill missing values with median

# Fill missing values in text columns with mode (most frequent value)
for col in obj_cols:
    mode_val = df[col].mode()[0]  # Get most common value
    df[col].fillna(mode_val, inplace=True)  # Fill missing values with mode

# Verify all missing values are filled
print("Missing values after filling:")
total_missing = df.isna().sum().sum()  # Total missing values across all columns
print(f"Total missing values: {total_missing}")
if total_missing == 0:
    print("✅ All missing values have been handled!")

Missing values after filling:
Total missing values: 0
✅ All missing values have been handled!

In [7]:
print("Data shape after cleaning:", df.shape)
df.info()

Data shape after cleaning: (50000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [8]:
# Save the cleaned dataset to a CSV file
# index=False means we don't save the row numbers as a column
# This cleaned data will be used in the next notebook for analysis
df.to_csv(PROCESSED_PATH, index=False)
print(f"✅ Cleaned dataset saved to {PROCESSED_PATH}")
print(f"   Ready for exploratory data analysis!")

✅ Cleaned dataset saved to ../data/processed/BMW_Worldwide_Sales_Cleaned.csv
   Ready for exploratory data analysis!

## Summary

This notebook successfully cleaned the raw BMW sales dataset with the following outcomes:

**Key Actions:**
- Loaded 15 years of worldwide sales data (2010-2024)
- Identified and removed duplicate records
- Handled missing values using median (numeric) and mode (categorical) imputation
- Validated data types and column consistency

**Output:**
- Clean dataset saved to `data/processed/BMW_Worldwide_Sales_Cleaned.csv`
- Zero missing values in final dataset
- Data ready for exploratory analysis and feature engineering

**Next Steps:** Proceed to `02_eda.ipynb` for exploratory analysis and visualization of trends.